.container {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 25px 35px;
  color: #000000;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
