.details {
  padding: 15px;
  cursor: pointer;
}

.details > summary {
  user-select: none;
  list-style-type: none;
}

.details[open] > summary {
  list-style-type: none;
}

.content {
  margin: 10px 0;
  padding: 15px 20px;
  font-weight: 300;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
