.navButton {
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.navButton:hover {
  background-color: rgb(245, 245, 245);
}

.navButton > * {
  padding: 10px 15px;
}

.navButton.active {
  background: #4700cc;
}

.navButton.active > * {
  color: #ffffff;
}
