.container {
  max-width: 1200px;
  margin: 0 auto;
}

.headLines {
  margin: 60px 0;
  width: 65%;
}

.textGradient1 {
  background: linear-gradient(to right, darkblue, darkorchid);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.textGradient2 {
  background: linear-gradient(to right, darkorchid, darkblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 10px 0;
}
