.container {
  max-width: 1200px;
  margin: 45px auto;
}

.leases {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.lease {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 585px;
  cursor: pointer;
}
