.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cta button {
  width: 100%;
  margin-bottom: 10px;
}
